.categoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.create {
  width: 140px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus {
  width: 24px;
}